{% extends "app/layout.html" %}

{% block content %}

<div class="short_story">
    <h2>{{ title }}.</h2>
    <div class="story">
        <p>
            Основанная как небольшой клуб энтузиастов настольных игр,
            "Picnic" с годами трансформировалась в известный и уважаемый магазин настольных игр, ставшим сердцем игрового сообщества в городе. 
            Начав свой путь с небольших встреч для людей, разделяющих страсть к настольным играм, 
            "Picnic" быстро завоевала репутацию места, где можно не только интересно провести время, но и обогатить свой кругозор в разнообразном мире настольных игр.
        </p>
        <p>Сегодня "Picnic" предлагает широчайший выбор игр на любой вкус — от класических шахмат и монополии до последних новинок индустрии. 
        Мы гордимся нашей коллекцией, в которую входят как массовые хиты, так и экзотические игры от небольших независимых разработчиков.
        Мы ставим своей целью не только продать игру, но и помочь клиентам найти ту, которая станет для них новым любимым хобби.
        </p>
        <p>
            "Picnic" сохраняет дух своих скромных корней, предлагая просторные и комфортабельные зоны для игры, где как ветераны, так и новички могут собраться вместе, чтобы насладиться общением и игрой. 
            Наши дружественные и опытные сотрудники всегда готовы помочь и провести демонстрационные игры, обучить новых игроков или просто дать рекомендации, основанные на личном опыте.
        </p>
        <p>
            Компания также активно участвует в организации игровых мероприятий, турниров, а также еженедельных встреч клуба игроков.
            Мы верим в силу социального взаимодействия и коммуникации, которые способствуются через настольные игры, и стремимся поддерживать эту культуру в нашем сообществе.
        </p>
        <p>
            Использование возможностей электронной коммерции позволило "Picnic" расширить свой охват. 
            С появлением онлайн-магазина, компания начала обслуживать клиентов по всей стране, предлагая быструю доставку, отличные предложения и тот же высокий уровень обслуживания, который со временем стал нашей визитной карточкой.
        </p>
        <p>
            От простого клуба любителей до успешного бизнеса, "Picnic" 
            остаётся верной своему духу содружества и страсти к играм, делая все возможное, чтобы каждый, 
            кто переступает порог магазина, находил здесь что-то для себя, независимо от возраста или уровня опыта.
        </p>
    </div>
</div>
{% endblock %}
